@use "./variables" as var;

form {
    display: flex;
    height: 3rem;
    position: relative;

    input {
        
        width: 100%;
        border: 1px solid var.$desaturated-red;
        border-radius: 3rem;
    }

    button {
        position: absolute;
        right: 3rem;
        height: 100%;
        width: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 2rem;
        background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    }
}