@use "./variables" as var;

body {
    font-family: var.$main-font;
    font-size: var.$main-font-size;
    color: var.$desaturated-red;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 3fr;

    .context {
        padding: 5rem 15rem 10rem 8rem;

        main h1 {
            font-size: 5rem;
            text-transform: uppercase;
            line-height: 6rem;
            font-weight: 300;
            letter-spacing: 1rem;
            margin-top: 8rem;

        }
        main h1 span {
            color: var.$dark-grayish-red;
            font-weight: 400;
        }
    }

}