@use "../abstracts/variables" as var;

body {
    font-family: var.$main-font;
    font-size: var.$main-font-size;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 4fr 3fr;
    padding: 5rem 15rem 10rem 8rem;

}